*{
    margin: 0px;
    padding: 0px;
}
.wrap{
    width: 1500px;
    height: 600px;
    margin: 50px auto;
    border: 1px solid red;
    position: relative;
}
/* 最开始采用浮动的做法，后来改为三个盒子定位 */
/* .wrap:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.wrap{
    zoom: 1;
} */
.box{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    top: 50px;
}
.box1{
    left: 100px;
}
.box2{
    left: 550px;
}
.box3{
    left: 1000px;
}
/* .wrap .box:first-child{
    margin-left: 100px;
} */
.top{
    width: 400px;
    height: 250px;
    background-color:skyblue;
}
.bottom{
    width: 400px;
    height: 250px;
    background-color:blue;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.info .info-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.info .info-department,.info-name{
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}
.input{
    width: 600px;
    margin: 20px auto;
}